li{
    margin-left: 20px;
}

footer{
    display: flex;
    gap: 30px;
    padding: 20px 40px;
    justify-content: space-between;
}

.cont-footer-out{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-title{
    color: var(--site-link-color);
    font-size: 18px;
    font-weight: bolder;
}
a.footer-title{
    text-decoration: underline;
}

@media only screen and (max-width:550px){
    footer{
        flex-direction: column;
        text-align: center;
    }
    
}